
<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'acortador:acortador' %} " class="nav-link link-body-emphasis px-2 fs-4 active" aria-current="page">Django Acortador URL</a></li>
      </ul>
      <ul class="nav justify-content-end">
        {% if request.user.is_authenticated %}
				<li class="nav-item">
					<a href="{% url 'user:logout' %} " class="btn btn-outline-primary me-2">Salir</a>
				</li>
			{% else %}
				{% if  request.resolver_match.url_name != 'login' %}
					<li class="nav-item"><a href="{% url 'user:login' %}" class="btn btn-outline-primary me-2">Login</a>
				{% endif %}
				</li>
				
				{% if  request.resolver_match.url_name != 'create_user' %}
					<li class="nav-item"><a href="{% url 'user:create_user' %}" class="btn btn-primary">Nuevo Usuario</a></li>
				{% endif %}
			{% endif %}
      </ul>
    </div>
  </nav>