{% extends "base.html" %}

{% load static %}

{% block title %}
	Inicio
{% endblock title %}


{% block content %}
	
	<div class="container">
		<div class="row justify-content-evenly">
		    <div class="col-6">

				<div class="modal-dialog shadow-lg p-3 mb-5 bg-body-tertiary rounded">
					<div class="modal-content rounded-4 shadow"> 
					      <div class="modal-header p-5 pb-4 border-bottom-0">
					        <h1 class="fw-bold mb-0 fs-2">Acortador de URL</h1>
					      </div>

						<div class="modal-body p-5 pt-0">
							<form id="form" data-url="basic">
								<div class="form-floating mb-3">
									<input type="url" class="form-control rounded-3" id="id_url" placeholder="http://...">
									<label for="id_url">URL:</label>
								</div>
							  <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" id="btn-url">Generar</button>
							</form>
						</div>
					</div>
				</div>
				<div id="mount"></div>
				<div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
			        <button type="button" class="btn btn-lg btn-primary" id='copiar' disabled>Copiar</button>
			    </div>

				
		    
		    </div>
		    
		    <div class="col-4 mt-5 align-self-start py-3 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
		    	{% if form_login %}
		    	<form method="POST" action=" {% url 'user:login' %} "> {% csrf_token %}
					<div class="form-floating mb-3">
						{{form_login.email}}
						{{form_login.email.label_tag}}

						{% if form_login.email.errors %}
							<div class="invalid-feedback">
      							{{form_login.email.errors}}
    						</div>
						{% endif %}
					</div>
					
					<div class="form-floating mb-3">
						{{form_login.password}}
						{{form_login.password.label_tag}}
						
						{% if form_login.password.errors %}
							<div class="invalid-feedback">
      							{{form_login.password.errors}}
    						</div>
						{% endif %}
						
					</div>
					<button  type="submit" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary">Entrar</button>
				</form>
				{% endif %}
		    
		    </div>
  		</div>

	</div>

	

	<br>
	<br>

	
	
{% endblock content %}

{% block script %}
	<script type="text/javascript" src='{% static "js/main.js" %}'></script>
{% endblock script %}




