{% extends "base.html" %}

{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/custom.css' %}"> 
{% endblock style %}


{% block title %}
	{{request.user.first_name}}| Configuraciones
{% endblock title %}

{% block content %}
	
	<div class="container">
		<h2 class="mt-3"> Perfil del usuario </h2>
		
		{% include "../includes/messages.html" %}

	<div class="py-3"></div>

	<div class="card mx-auto" style="width: 18rem;">
		<div class="card-header">
		    Usuario
		</div>
		<ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<strong style="font-style: bold;">Nombre:</strong> {{request.user.first_name}}
		    </li>
		    <li class="list-group-item">
		    	<strong style="font-style: bold;">Apellido:</strong> {{request.user.last_name}}
		    </li>
		    <li class="list-group-item">
		    	<strong style="font-style: bold;">Email:</strong> {{request.user.email}}
		    </li>
		    <li class="list-group-item">
		    	<strong style="font-style: bold;">Username:</strong> {{request.user.username}}
		    </li>
		     <li class="list-group-item">
		    	<strong style="font-style: bold;">Creado:</strong> {{request.user.created}}
		    </li>
		    
		</ul>
	</div>

	<div class="py-3"></div>

	<div class="container text-center">
		<div class="row justify-content-evenly">
		    <div class="col-4">
		      <a href="{% url 'user:update-email-user' pk=request.user.pk %}"  class="btn btn-outline-primary">
				Actualizar email
				</a>
		    </div>

		    <div class="col-4">
		      <a href="{% url 'user:update-password-user' pk=request.user.pk %} "  class="btn btn-outline-primary">Actualizar Contraseña</a>
		    </div>
		 </div>

	</div>

		
		
	</div>
	


	
{% endblock content %}


		